In [ ]:
#import requests
#url="https://zillow-com1.p.rapidapi.com/property3dtour?property_url=https%3A%2F%2Fwww.zillow.com%2Fhomedetails%2F1541-SW-102nd-Ter-Davie-FL-33324%2F43177112_zpid"


#headers = {
    #"X-RapidAPI-Key": "650d925896msh548ae6f00d7e4e9p1c9a08jsn87ce974e17c2",
    #"X-RapidAPI-Host": "zillow-com1.p.rapidapi.com"
#}

#response = requests.get(url, headers=headers)
#response.json()

{'message': 'You are not subscribed to this API.'}

In [ ]:
#url="https://api.rentcast.io/v1/properties?address=5500%20Grand%20Lake%20Dr%2C%20San%20Antonio%2C%20TX%2C%2078244"
#headers={"accept": "application/json","X-Api-Key":"9dd876b2c5e949b0be75ffa67eeda43a"}
#response=requests.get(url,headers=headers)
#response.json()

{'status': 401,
 'error': 'billing/subscription-inactive',
 'message': 'The provided API key is not associated with an active API subscription. View subscription status on your API dashboard: https://app.rentcast.io/app/api'}

In [ ]:
#https://www.kaggle.com/datasets/nelgiriyewithana/new-york-housing-market/data

In [ ]:
import os
from zipfile import ZipFile
from kaggle.api.kaggle_api_extended import KaggleApi

# Set Kaggle credentials folder
os.environ['KAGGLE_CONFIG_DIR'] = r"C:\Users\prodd\OneDrive\Desktop\kaggle"

# Initialize Kaggle API
api = KaggleApi()
api.authenticate()

# Download and unzip dataset
dataset = 'nelgiriyewithana/new-york-housing-market'
zip_file = 'new-york-housing-market.zip'
extract_folder = 'new-york-housing-market_dataset'

api.dataset_download_files(dataset, path='.', unzip=False)
os.makedirs(extract_folder, exist_ok=True)
with ZipFile(zip_file, 'r') as z: z.extractall(extract_folder)

In [38]:
import pandas as pd


extract_folder = 'new-york-housing-market_dataset'
csv_file = os.path.join(extract_folder, 'NY-House-Dataset.csv')

df = pd.read_csv(csv_file)
df

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

In [15]:
import requests
url = "https://data.cityofnewyork.us/resource/9s4h-37hy.json"

response = requests.get(url)
data=response.json()

In [16]:
crime_df=pd.DataFrame(data)
crime_df

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,...,station_name,vic_age_group,vic_race,vic_sex,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,transit_district
0,298700975,2024-12-31T00:00:00.000,07:50:00,2024-12-31T00:00:00.000,07:55:00,76,2024-12-31T00:00:00.000,578,HARRASSMENT 2,638,...,(null),18-24,BLACK,F,13514,14,2,7,48,NaN
1,298703855,2024-09-30T00:00:00.000,19:00:00,2024-09-30T00:00:00.000,19:05:00,73,2024-12-31T00:00:00.000,578,HARRASSMENT 2,638,...,(null),45-64,BLACK,F,13516,55,2,17,46,NaN
2,298695179,2024-12-31T00:00:00.000,17:39:00,2024-12-31T00:00:00.000,17:49:00,67,2024-12-31T00:00:00.000,232,POSSESSION OF STOLEN PROPERTY,490,...,(null),25-44,WHITE HISPANIC,M,13510,61,2,11,40,NaN
3,298675156,2024-12-31T00:00:00.000,04:00:00,NaN,(null),106,2024-12-31T00:00:00.000,105,ROBBERY,396,...,(null),UNKNOWN,UNKNOWN,D,24016,62,3,46,64,NaN
4,298702451,2024-12-23T00:00:00.000,07:00:00,2024-12-24T00:00:00.000,00:30:00,84,2024-12-31T00:00:00.000,351,CRIMINAL MISCHIEF & RELATED OF,254,...,(null),25-44,BLACK,L,16865,68,2,38,54,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,298695218,2024-12-31T00:00:00.000,16:04:00,2024-12-31T00:00:00.000,16:08:00,94,2024-12-31T00:00:00.000,678,MISCELLANEOUS PENAL LAW,201,...,(null),UNKNOWN,UNKNOWN,E,17613,36,2,38,57,NaN
996,298672427,2024-12-31T00:00:00.000,02:00:00,2024-12-31T00:00:00.000,02:05:00,113,2024-12-31T00:00:00.000,250,CANNABIS RELATED OFFENSES,579,...,(null),UNKNOWN,UNKNOWN,E,24669,41,3,6,71,NaN
997,298697871,2024-12-31T00:00:00.000,15:10:00,2024-12-31T00:00:00.000,15:22:00,32,2024-12-31T00:00:00.000,106,FELONY ASSAULT,109,...,(null),25-44,BLACK,M,12424,18,4,36,20,NaN
998,298712795,2024-12-31T00:00:00.000,21:32:00,2024-12-31T00:00:00.000,21:45:00,6,2024-12-31T00:00:00.000,359,OFFENSES AGAINST PUBLIC ADMINI,759,...,(null),UNKNOWN,UNKNOWN,E,12075,57,4,32,3,NaN
999,298685349,2024-12-31T00:00:00.000,06:46:00,2024-12-31T00:00:00.000,06:50:00,72,2024-12-31T00:00:00.000,578,HARRASSMENT 2,638,...,(null),45-64,BLACK,M,18180,9,2,7,45,NaN

In [13]:
crime_df.columns

Index(['cmplnt_num', 'cmplnt_fr_dt', 'cmplnt_fr_tm', 'cmplnt_to_dt',
       'cmplnt_to_tm', 'addr_pct_cd', 'rpt_dt', 'ky_cd', 'ofns_desc', 'pd_cd',
       'pd_desc', 'crm_atpt_cptd_cd', 'law_cat_cd', 'boro_nm',
       'loc_of_occur_desc', 'prem_typ_desc', 'juris_desc', 'jurisdiction_code',
       'parks_nm', 'hadevelopt', 'x_coord_cd', 'y_coord_cd', 'susp_age_group',
       'susp_race', 'susp_sex', 'latitude', 'longitude', 'lat_lon',
       'patrol_boro', 'station_name', 'vic_age_group', 'vic_race', 'vic_sex',
       ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih', 'housing_psa', 'transit_district'],
      dtype='object')

In [39]:
# Convert coordinates to numeric (force errors to NaN)
df['LATITUDE'] = pd.to_numeric(df['LATITUDE'], errors='coerce')
df['LONGITUDE'] = pd.to_numeric(df['LONGITUDE'], errors='coerce')
crime_df['latitude'] = pd.to_numeric(crime_df['latitude'], errors='coerce')
crime_df['longitude'] = pd.to_numeric(crime_df['longitude'], errors='coerce')

In [40]:
import pandas as pd
import numpy as np

# Haversine function to calculate distance in kilometers
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

# Function to count crimes near each property
def count_crimes_near_property(lat, lon, crime_df, radius_km=0.5):
    distances = haversine(lat, lon, crime_df['latitude'], crime_df['longitude'])
    return (distances <= radius_km).sum()

# Apply to each row in df
df['crime_count'] = df.apply(
    lambda row: count_crimes_near_property(row['LATITUDE'], row['LONGITUDE'], crime_df),
    axis=1
)

In [31]:
df

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,crime_count
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,4
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,10
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,0
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,4
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879,2
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152,0
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398,5
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752,2
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949,0

In [41]:
park_crimes = crime_df[crime_df['parks_nm'].notnull()]

In [42]:
def count_park_crimes_near_property(lat, lon, park_crimes_df, radius_km=0.5):
    distances = haversine(lat, lon, park_crimes_df['latitude'], park_crimes_df['longitude'])
    return (distances <= radius_km).sum()

df['park_count'] = df.apply(
    lambda row: count_park_crimes_near_property(row['LATITUDE'], row['LONGITUDE'], park_crimes),
    axis=1
)

In [43]:
df

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE,crime_count,park_count
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483,4,4
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991,10,10
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109,0,0
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613,4,4
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879,2,2
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152,0,0
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398,5,5
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752,2,2
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949,0,0

In [58]:
df.groupby("STATE").agg({"crime_count":"count"}).sort_values("crime_count", ascending=False)

                              crime_count
STATE
Brooklyn, NY 11235                    102
Brooklyn, NY 11209                     94
Forest Hills, NY 11375                 91
Brooklyn, NY 11234                     90
Staten Island, NY 10314                86
...                                   ...
Queens, NY 11368                        1
Queens, NY 11360                        1
Bayside, NY 11364                       1
Bedford Stuyvesant, NY 11206            1
Astoria, NY 11102                       1

[308 rows x 1 columns]